Django>=4.2,<5.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-filter>=23.5
django-cors-headers>=4.3

cloudinary>=1.36
django-cloudinary-storage>=0.3

celery>=5.3
django-celery-results>=2.5
django-celery-beat>=2.5
redis>=5.0
django-redis>=5.0


django-weasyprint>=2.2
weasyprint>=60.0

Pillow>=10.0
psycopg2-binary>=2.9
gunicorn
python-dotenv>=0.19
pytest>=7.0
pytest-django>=4.0
pytest-cov>=3.0
coverage>=6.0
flake8>=4.0
black>=22.0
isort>=5.0
mypy>=0.910
pre-commit>=2.0
