@import "tailwindcss";


.input {
  @apply border p-2 w-full mb-3 rounded;
}

.btn-primary {
  @apply bg-black text-white px-4 py-2 rounded;
}

.btn-secondary {
  @apply border px-4 py-2 rounded;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}



.secondbanner{
  background: url("./assets/meeshoBanner2.webp") no-repeat ;
  background-size: 100vw auto;
  
}


@keyframes marquee {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.color{
  background-color: #ff3d5d;
}



/* HTML: <div class="loadings"></div> */
.loadings {
  height: 4px;
  width: 130px;
  --c:no-repeat linear-gradient(#ff00e1 0 0);
  background: var(--c),var(--c),#d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0%   {background-position:-150% 0,-150% 0}
  66%  {background-position: 250% 0,-150% 0}
  100% {background-position: 250% 0, 250% 0}
}

